<link rel="stylesheet" href="blog.css">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SimpleBlog</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000/" aria-current="page" href="#">Home</a>
          </li>
          
          
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/author/{{request.user.username}}">My Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/newpost">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members/logout_user">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/members/register_user">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members/login_user">Login</a>
          </li>
          {% endif %}
        </ul>
    
    
      </div>
    </div>
  </nav>